<div *ngIf="draggable" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-generic-list-item cdkDrag
    *ngFor="let element of array; let i = index;"
    [element]="element"
    [ngClass]="{'grid-like': gridLike, 'clickable': selectable, 'selected': isSelected(element)}"
    (click)="onElementSelect(element)"
    >
    </app-generic-list-item>
</div>

<div *ngIf="!draggable">
    <app-generic-list-item
    *ngFor="let element of array; let i = index;"
    [element]="element"
    [ngClass]="{'grid-like': gridLike, 'clickable': selectable, 'selected': isSelected(element)}"
    (click)="onElementSelect(element)"
    >
    </app-generic-list-item>
</div>