/* You can add global styles to this file, and also import other style files */

.clickable:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.5);
}

.selected {
    background: cornflowerblue;
}